<div class="container mt-4">
  <h2>{{ playerName }}'s Memory Game</h2>
  <app-score-board [matches]="matches" [errors]="errors"></app-score-board>

  <div class="card-container mt-3">
    <div
      *ngFor="let card of cards"
      class="card"
      [ngClass]="{ 'flipped': card.flipped || card.matched }"
      (click)="flipCard(card)">
      <img *ngIf="card.flipped || card.matched" [src]="card.image" class="img-fluid">
      <span *ngIf="!card.flipped && !card.matched">?</span>
    </div>
  </div>
</div>
